.contactMobile {
    background: url('../../Assets/Mobile/Contact-bkgd-mobile.jpg') no-repeat;
    background-size: cover;
    padding-bottom: 3vw;
}

.contactDesktop {
    background: url('../../Assets/Desktop/contact-bkgd-desktop.jpg') no-repeat;
    background-size: cover;
    padding: 3vw 0 4vw 0;
}

.formStyle {
    margin: -4vw 2vw 0 4vw;
}

.contactTitle {
    font-family: var(--title-secondary);
    color: var(--white);
    text-align: center;
    margin: 10vw 0 0 0;
}

.infoText,
.infoTextB {
    font-family: var(--body-primary);
    font-size: 4vw;
    color: var(--off-white);
    text-align: left;
}

.labelForm {
    color: var(--white);
    font-size: 4.5vw;
    margin: 2vw 0 0 0;
}

.btn {
    color: var(--purple);
    font-size: 4.2vw;
    margin: 5vw 0vw 2vw 0;
}

@media screen and (min-width:414px) {
    .btn {
        font-size: 3.8vw;
    }

    .contactMobile {
        padding-bottom: 4vw;
    }

    .labelForm {
        font-size: 4vw;
    }
}

@media screen and (min-width:568px) {
    .contactMobile {
        padding-bottom: 0vw;
    }

    .contactTitle {
        margin: 8vw 0 2vw 0;
    }

    .infoText {
        font-size: 3vw;
    }

    .labelForm {
        font-size: 3vw;
    }

    .btn {
        font-size: 2.8vw;
    }
}

@media screen and (min-width:667px) {
    .infoText {
        font-size: 2.5vw;
    }

    .labelForm {
        font-size: 2.5vw;
    }

    .btn {
        font-size: 2.5vw;
    }
}

@media screen and (min-width:726px) {
    .cardBackground {
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 1vw;
        margin: 0vw 3vw 0vw 3vw
    }

    .formStyle {
        margin: 1vw 2vw 0 4vw;
    }

    .contactTitle {
        margin: 0;
        font-size: 5vw;
    }

    .infoText,
    .infoTextB {
        font-size: 1.8vw;
    }

    .infoText {
        margin-left: -2vw;
    }

    .infoTextB {
        margin-left: 11vw;
    }

    .rowB,
    .rowC {
        margin-right: -7vw;
    }

    .cardBody {
        padding: 1vw 1vw 1vw 1vw;
    }

    .labelForm {
        font-size: 2.3vw;
        margin: -1vw -5vw 2vw -2vw;
    }

    .phone,
    .name {
        margin-left: 3.7vw;
    }

    .btn {
        color: var(--gold);
        font-size: 2vw;
        width: 30%;
        margin: 2vw 0 1vw 8.7vw;
    }
}

@media screen and (min-width:1024px) {
    .contactTitle {
        font-size: 4vw;
        margin-bottom: 1vw;
    }

    .infoText,
    .infoTextB {
        font-size: 1.6vw;
    }

    .labelForm {
        font-size: 1.8vw;
    }

    .phone,
    .name {
        margin-left: 2vw;
    }

    .phone {
        margin-right: 2vw;
    }

    .email,
    .message {
        margin-left: -2vw;
    }

    .btn {
        font-size: 1.5vw;
        width: 20%;
        margin: 2vw 0 1vw 6.7vw;
    }

}

@media screen and (min-width:1366px) {
    .contactTitle {
        font-size: 3vw;
    }

    .infoText,
    .infoTextB {
        font-size: 1.4vw;
        margin-bottom: 3vw;
    }

    .labelForm {
        font-size: 1.5vw;
    }

    .phone,
    .name {
        margin-left: 1vw;
    }

    .phone {
        margin-right: 3vw;
    }

    .email,
    .message {
        margin-left: -3vw;
    }

    .btn {
        margin: 2vw 0 1vw 5.7vw;
        font-size: 1.2vw;
        width: 15%;
    }
}

@media screen and (min-width:1700px) {
    .contactTitle {
        font-size: 50px;
        margin-top: -1vw;
    }

    .infoText,
    .infoTextB {
        font-size: 19px;
        margin-bottom: 2vw;
    }

    .labelForm {
        font-size: 20px;
        margin: -0.5vw -5vw 1.5vw -2vw;
    }

    .btn {
        font-size: 16px;
        width: 13%;
    }
}

@media screen and (min-width:1920px) {
    .name {
        margin-left: 0.5vw;
    }

    .btn {
        margin: 2vw 0 1vw 3.7vw;
    }

}