.headerWrapper {
    background: url("../../Assets/Mobile/header-bkgd-mobile.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.logoImg {
    width: 30%;
    height: auto;
    margin: 5vw 0 3vw 2vw;
}

.titleWrapper {
    margin: 0 0 0 8vw;
}

.name {
    font-size: 5vw;
    font-family: var(--title-primary);
    color: var(--off-white);
    line-height: 9vw;
}

.title {
    font-size: 7vw;
    font-family: var(--title-primary);
    color: var(--off-white);
    line-height: 7vw;
}

.iconWrapper {
    margin: 0 0 0 -4vw;
}

.fbIcon {
    max-width: 35%;
    height: auto;
    margin: -8vw 0 0 0;
}

.igIcon {
    max-width: 35%;
    height: auto;
    margin: -8vw 0 0 -24vw;
}

.btnWrapper {
    display: flex;
    justify-content: flex-start;
}

.btn {
    position: relative;
    z-index: 12;
    font-family: var(--body-primary);
    width: 33%;
    border-radius: 4rem;
    border: none;
    box-shadow: 1.5vw 0 rgba(230, 193, 138, 0.5);
    color: var(--brown);
    background-color: var(--light-grey);
    padding: 1vw 2vw 1vw 2vw;
    margin: 14vw 0 0 8vw;
    font-size: 4.2vw;
    line-height: 1.3rem;
}

.btn:hover {
    color: var(--gold);
    background-color: var(--light-grey);
    transform: scale(.98);
}

@media screen and (min-width:414px) {
    .btn {
        font-size: 3.5vw;
    }
}

@media screen and (min-width:568px) {
    .btn {
        font-size: 2.8vw;
        width: 25%;
        margin: 10vw 0 0 8vw;
    }

    .igIcon {
        max-width: 30%;
        margin: -8vw 0 0 -22vw;
    }

    .fbIcon {
        max-width: 30%;
        margin: -8vw 0 0 1.5vw;
    }
}

@media screen and (min-width:667px) {
    .btn {
        font-size: 2.5vw;
        width: 23%;
    }

    .igIcon {
        max-width: 25%;
        margin: -6vw 0 0 -18vw;
    }

    .fbIcon {
        max-width: 25%;
        margin: -6vw 0 0 3vw;
    }
}

@media screen and (min-width:726px) {
    .headerWrapper {
        background: url("../../Assets/Desktop/header--bkgd-desktop.jpg") no-repeat;
        background-size: cover;
    }

    .logoImg {
        width: 20%;
        margin: -2vw 0 0vw 1vw;
    }

    .name {
        font-size: 3vw;
        margin-left: -3vw;
        line-height: 0;
    }

    .title {
        font-size: 7vw;
        margin-left: -3vw;
        line-height: 7vw;
    }

    .btnWrapper {
        display: flex;
        justify-content: flex-start;
        margin-left: -1vw;
    }

    .btn {
        width: 21%;
        padding: 1.5vw 3.5vw 1.5vw 3.5vw;
        margin: 1vw 0 0 6vw;
        font-size: 1.7vw;
        box-shadow: 1vw 0 rgba(230, 193, 138, 0.5);
    }

    .iconWrapper {
        margin: 2vw 0 -3.45vw -2vw;
    }

    .fbIcon {
        max-width: 20%;
        margin: -6vw 8vw 4vw 0;
    }

    .igIcon {
        max-width: 20%;
        margin: -6vw 0 4vw -22vw
    }
}

@media screen and (min-width:1024px) {
    .btn {
        width: 18%;
        padding: 1vw 3.5vw 1vw 3.5vw;
        font-size: 1.5vw;
    }

    .fbIcon {
        max-width: 17%;
        margin: -6vw 10vw 3vw 1.5vw;
    }

    .igIcon {
        max-width: 17%;
        margin: -6vw 0 3vw -22vw;
    }

}

@media screen and (min-width:1366px) {
    .name {
        font-size: 2.5vw;
    }

    .title {
        font-size: 6vw;
    }

    .btn {
        width: 15%;
        font-size: 1.2vw;
        margin-top: 3vw;
    }

    .fbIcon {
        max-width: 15%;
        margin: -4vw 10vw 3vw 2vw;
    }

    .igIcon {
        max-width: 15%;
        margin: -4vw 0 3vw -20vw;
    }
}

@media screen and (min-width:1700px) {
    .name {
        font-size: 36px;
    }

    .title {
        font-size: 107px;
    }

    .btn {
        width: 13%;
        font-size: 17px;
        padding: .7vw 1vw .7vw 2vw;
    }

    .fbIcon {
        max-width: 13%;
        margin: -4vw -100px 3vw 2.5vw;
    }

    .igIcon {
        max-width: 13%;
        margin: -4vw 0 3vw -52px;
    }

}