:root {

  --gold: #9F7C50;
  --purple: #441564;
  --white: #FFFFFF;
  --off-white: #FDF9EE;
  --brown: #595045;
  --light-grey: #EDF0F2;
  --tan: #E6C18A;

  --title-primary: "Fontspring-DEMO-theseasons-bd";
  --title-secondary: "Agrandir-GrandHeavy";
  --body-primary: "TT Interphases Pro Trial Condensed Regular";
  --body-secondary: "Agrandir-Regular";
  --body-secondary-bold: "Agrandir-TextBold";
  --body-tertiary: "Swansea-q3pd";
  --body-tertiary-bold: "SwanseaBold-D0ox";

}